{% extends 'layout.html' %}
{% block title %} BARANG MASUK {% endblock %}
{% load static %}
{% block content %}
         <section class="content-header">
    <h1>&nbsp;</h1>
     <ol class="breadcrumb">
        <li><i class="fa fa-floppy-o"></i> &nbsp;Data Barang</li>
        <li><a >Barang</a></li>
        <li class="active"><a href="{% url 'addMasuk' %}"><button type="button" class="btn btn-danger btn-xs"><span class="fa fa-plus-circle"></span> Tambah Barang</button></a></li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
                    <!-- /.box -->

          <div class="box">

            <!-- /.box-header -->
            <div class="box-body">
{#            <h4>Data Kategori</h4>#}
{#            <br>#}
             <table class="table table-bordered table-hover" id="example">
                 <thead>
                 <tr>
                     <th>No</th>
                     <th>Tanggal</th>
                     <th>Nota</th>
                     <th>Suplier</th>
                     <th>Sales</th>
                     <th>Pembayaran</th>
                     <th>Jangka Waktu</th>
                     <th>Keterangan</th>
                     <th >#</th>
                 </tr>
                 </thead>
                 <tbody>
                 {% for data in masuk %}
                     <tr>
                         <td>{{ forloop.counter }}</td>
                         <td>{{ data.tanggal }}</td>
                         <td>{{ data.nota }}</td>
                         <td>{{ data.suplier }}</td>
                         <td>{{ data.sales }}</td>
                         <td>{% if data.pembayaran == "0" %}Hutang{% endif %}{% if data.pembayaran == "1" %}Lunas{% endif %}</td>
                         <td>{{ data.jangkaWaktu }}</td>
                         <td>{{ data.keterangan }}</td>
                             <td style="width: 20%" align="center">
                              {% with id=data.encoded_id %}
                              <a href="{% url 'editMasuk' id %}"  class="btn btn-primary fa fa-edit btn-flat btn-sm"></a>
                               {% endwith %}
                                 {% with id=data.encoded_id %}
                                     {% if data.status == "0" %}<a class="btn btn-danger fa fa-street-view btn-flat btn-sm" href="{% url 'butang' id %}">Masih Hutang</a>{% endif %}{% if data.status == "1" %}<a class="btn btn-success fa fa-street-view btn-flat btn-sm" href="{% url 'butang' id %}">Sudah Lunas</a>{% endif %} </td>
                                 {% endwith %}

                    </tr>

                 {% endfor %}
                 </tbody>


             </table>
            </div>
          </div>
        </div>
      </div>
    </section>


{% endblock content %}