{% extends 'layout.html' %}
{% block title %} EKSTRAK STOK {% endblock %}
{% load static %}
{% load templatetags %}
{% block content %}
         <section class="content-header">
    <h1>&nbsp;</h1>
     <ol class="breadcrumb">
        <li>&nbsp;Data Barang</li>
        <li><a >Barang</a></li>

      </ol>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
                    <!-- /.box -->

          <div class="box">

            <!-- /.box-header -->
            <div class="box-body">
{#            <h4>Data Kategori</h4>#}
{#            <br>#}
             <table class="table table-bordered table-hover" id="example">
                 <thead>
                 <tr>
                     <th>No</th>
                     <th>Barang</th>
                     <th>STOK AWAL</th>

                     <th>JUMLAH EKSTRAK</th>
                     <th>TUJUAN EKSTRAK</th>
                     <th>SISA STOK</th>
                     <th>KETERANGAN</th>
                 </tr>
                 </thead>
                 <tbody>
                 {% for item in data %}
                     <tr>
                         <td>{{ forloop.counter }}</td>
                         <td>{{ item.stok.barang }}</td>
                         <td>{{ item.jumlahawal }}&nbsp;{{ item.stok.satuan }}</td>

                         <td>{{ item.jumlahekstrak }}&nbsp;{{ item.stok.satuan }}</td>
                         <td>{{ item.satuan }}</td>
                         <td>{{ item.stok.stok }}&nbsp;{{ item.stok.satuan }}</td>
                         <td>{{ item.keterangan  }}</td>

                    </tr>

                 {% endfor %}
                 </tbody>


             </table>
            </div>
          </div>
        </div>
      </div>
    </section>


{% endblock content %}