{% extends 'layout.html' %}
{% block title %} STOK {% endblock %}
{% load widget_tweaks %}
{% load static %}
{% load humanize %}
{% block content %}
    <script>
    function modalEkstrak(id,stok,satuan,jumlah) {
          $(".stokId").val(id)
          $('.jstok').val(stok)
          var jumlah = jumlah+" " + satuan;
          $(".jsatuan").html('<h4><span class="label label-success label-sm flat">'+jumlah+'</span></h4>')
          $('#ModalEkstrak').modal('show');

    }
    function modalGanti(id) {
          $(".stokId").val(id)
          $('#ModalGanti').modal('show');

    }
    $(document).ready(function () {
        $(".satuan").select2()
        var formekstrak =$(".formEkstrak")
        formekstrak.submit(function (e) {
            $.ajax({
                data : formekstrak.serialize(),
                url  : formekstrak.attr("action"),
                type : formekstrak.attr("method"),
                success : function (data) {
                  if(data == "0"){
                      $(".warning").html('<div class="callout callout-danger"><h4>Warning!</h4><p>Maaf Data jumlah tidak ditemukan <a href= "{% url "addJumlah" %}" target ="_blank">Tambah Jumlah</a</p></div>')
                  }
                  else {
                        window.location.reload()
                  }

                }
            })
            e.preventDefault()
        })
    })
    </script>
         <section class="content-header">
    <h1>&nbsp;</h1>
     <ol class="breadcrumb">
        <li>Data Stok</li>
        <li><a >Stok</a></li>

      </ol>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
                    <!-- /.box -->

          <div class="box">

            <!-- /.box-header -->
            <div class="box-body">
{#            <h4>Data Kategori</h4>#}
{#            <br>#}
{#            <p> <div class="pull-right">#}
{#            <button >dasdsd</button>#}
{##}
{#            </div></p>#}
               <div class="warning"></div>
             <table class="table table-bordered table-hover" id="example">
                 <thead>
                 <tr>
                     <th>No</th>
                     <th>Nama Barang</th>
                     <th>Stok</th>

                     <th align="right" class="pull-right"> <a href="{% url "ubahstok" %}"  class="btn btn-flat  btn-sm btn-warning fa fa-anchor" >&nbsp;Perubahan stok</a>&nbsp; <a href="{% url "ekstrakstok" %}" class="btn btn-flat  btn-sm btn-primary fa fa-anchor" >&nbsp;Ekstrak Stok</a></th>
                 </tr>
                 </thead>
                 <tbody>
                 {% for item in data %}
                     <tr>
                         <td style="width: 4%" >{{ forloop.counter }}</td>
                         <td>{{ item.barang }}</td>
                         <td>
                             {% if item.stok == 0 %}
                                 KOSONG
                             {% else %}
                             {{ item.stok | intcomma  }}&nbsp;{{ item.satuan }}
                             {% endif %}
                         </td>

                         <td style="width: 29%" align="right">
                             {% if item.stok == 0 %}

                               {% else %}
                             <a class="btn btn-info btn-sm btn-flat fa fa-edit" onclick="modalEkstrak('{{ item.id }}','{{ item.stok }}','{{ item.satuan }}','{{ item.stok }}')">&nbsp;Ekstrak Stok</a>&nbsp;
                             {% endif %}
                             <a class="btn btn-success btn-sm btn-flat fa fa-chain" onclick="modalGanti('{{ item.id }}')">&nbsp;Ubah Stok</a> </td>
                    </tr>

                 {% endfor %}
                 </tbody>


             </table>
            </div>
          </div>
        </div>
      </div>

           <!-- Ganti Stok bonus begin -->
<div class="modal fade " id="ModalGanti" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">FORM UBAH STOK</h4>
      </div>
      <div class="modal-body">
          <form class="formBonus    form-horizontal" role="form" action="/ubahstok/save" method="post"> {% csrf_token %}
           <input type="hidden" name="stok" class="stokId" >
           <input type="hidden" name="posted_by" value="{{user.id}}">
           <div class="form-group">
           <label  class="col-sm-3 control-label">Jumlah Ubah</label>
                    <div class="col-sm-9">
                 {{ frm.jumlah | add_class:'form-control' }}
                    </div>
           </div>
            <div class="form-group">
           <label  class="col-sm-3 control-label">Keterangan</label>
                    <div class="col-sm-9">
                   {{ frm.keterangan | add_class:'form-control'|attr:'rows:3' }}
                    </div>
           </div>






      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
          <input type="submit" value="SAVE" class="btn-flat btn btn-primary">

      </div>
    </form>
    </div>
  </div>
</div> <!-- end modal bonus-->

     <!-- Ekstrak Stok  begin -->
<div class="modal fade " id="ModalEkstrak" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">FORM UBAH STOK</h4>
      </div>
      <div class="modal-body">
          <form class="formEkstrak    form-horizontal" role="form" action="/ekstrakstok/save" method="post"> {% csrf_token %}
           <input type="hidden" name="stok" class="stokId" >
           <input type="hidden" name="posted_by" value="{{user.id}}">
              
           <div class="form-group">
           <label  class="col-sm-3 control-label ">Jumlah Stok</label>
               <input type="hidden" name="jumlahawal" class="jstok">
                    <div class="col-sm-9 jsatuan"  >
{#                 {{ fr.jumlahawal | add_class:'form-control jstok'  }}#}
{#                      <h4><span class="label label-primary label-sm">New</span></h4>#}
                    </div>
{#               <div class="col-sm-3 jsatuan "  >#}
{##}
{#                    </div>#}
           </div>
           <div class="form-group">
           <label  class="col-sm-3 control-label">Jumlah Ubah</label>
                    <div class="col-sm-9">
                 {{ fr.jumlahekstrak | add_class:'form-control ' }}
                    </div>
           </div>
                 <div class="form-group">
           <label  class="col-sm-3 control-label">Satuan</label>
                    <div class="col-sm-9">
                 {{ fr.satuan | add_class:'satuan' |attr:"style:width:100%" }}
                    </div>
           </div>
            <div class="form-group">
           <label  class="col-sm-3 control-label">Keterangan</label>
                    <div class="col-sm-9">
                   {{ frm.keterangan | add_class:'form-control'|attr:'rows:3' }}
                    </div>
           </div>






      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
          <input type="submit" value="SAVE" class="btn-flat btn btn-primary">

      </div>
    </form>
    </div>
  </div>
</div> <!-- end modal extrak stok-->
    </section>


{% endblock content %}