{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %} {% endblock %} |  {{ urlify }}TOKO</title>

		<!-- BEGIN META -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="your,keywords">
		<meta name="description" content="Short explanation about this website">
		<!-- END META -->


		<!-- BEGIN STYLESHEETS -->
		<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    	<link type="text/css" rel="stylesheet" href="{% static 'css/select2.min.css' %}" />
    	<link type="text/css" rel="stylesheet" href="{% static 'css/AdminLTE.min.css' %}" />
    	<link type="text/css" rel="stylesheet" href="{% static 'css/_all-skins.min.css' %}" />
    	<link type="text/css" rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}" />
    	<link type="text/css" rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'css/jquery.ambiance.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'css/datepicker3.css' %}" />
        <script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
        <script src="{% static 'js/jquery.number.js' %}"></script>
        <script src="{% static 'js/jquery.ambiance.js' %}"></script>
        <script src="{% static 'js/jquery.progresstimer.min.js' %}"></script>
        <style>
            .btn-circle {
                  width: 30px;
                  height: 30px;
                  text-align: center;
                  padding: 6px 0;
                  font-size: 12px;
                  line-height: 1.42;
                  border-radius: 15px;
                }
         </style>
	</head>
<body class="hold-transition skin-blue fixed sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="../../index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>TOKO</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>DASDASDAN</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->



          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
              <img src="{% static "images/user.png" %}" style="width: 100%;height: 100%">
{#        {{ HTML::image('images/avatar.png', 'a picture', array('class' => 'img-circle')) }}#}
         </div>
        <div class="pull-left info">
{#          <p>{{ Auth::user()->name }}</p>#}
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
   <!--    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form> -->
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>

        <li class="treeview ">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>MASTER MENU</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right">10</span>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'kategori'%}"><i class="fa fa-circle-o"></i> Kategori</a></li>
            <li><a href="{% url 'barang'%}"><i class="fa fa-circle-o"></i> Barang</a></li>
            <li><a href="{% url 'suplier'%}"><i class="fa fa-circle-o"></i> Suplier</a></li>
            <li><a href="{% url 'satuan'%}"><i class="fa fa-circle-o"></i> Satuan</a></li>
            <li><a href="{% url 'jumlah'%}"><i class="fa fa-circle-o"></i> Jumlah</a></li>
            <li><a href="{% url 'harga'%}"><i class="fa fa-circle-o"></i> Harga</a></li>
          </ul>
        </li>


        <li class="treeview active">
          <a href="#">
            <i class="fa fa-edit"></i> <span>TRANSAKSI</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{%   url 'addMasuk' %}"><i class="fa fa-circle-o"></i> Masuk Barang</a></li>
            <li><a href="{%   url 'jual' %}"><i class="fa fa-circle-o"></i> Penjualan Barang</a></li>

          </ul>
        </li>
            <li class="treeview active">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>DATA </span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'masuk' %}"><i class="fa fa-circle-o"></i> Data Barang Masuk</a></li>
            <li><a href="{% url 'dataPenjualan' %}"><i class="fa fa-circle-o"></i> Data Penjualan</a></li>
            <li><a href="{%   url 'rmasuk' %}"><i class="fa fa-circle-o"></i> Retur Barang Masuk</a></li>
            <li><a href="{%   url 'rjual' %}"><i class="fa fa-circle-o"></i> Retur Barang Jual</a></li>
            <li><a href="{%   url 'stok' %}"><i class="fa fa-circle-o"></i> Data Stok</a></li>
          </ul>
        </li>
           <li class="treeview active">
          <a href="#">
            <i class="fa fa-file"></i>
            <span>Report </span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'reportjual' %}"><i class="fa fa-circle-o"></i> Report Barang Jual</a></li>

          </ul>
        </li>
          <li><a href="{% url 'logout' %}" title="Logout"><i class="fa fa-sign-out text-red"></i> <span>Logout</span></a></li>






      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  {% block content %}{% endblock content %}
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>PT CHANG JUI FANG INDONESIA</b>
    </div>
    <strong>Copyright &copy; 2017 <a href="http://cjfi.co.id">CJFI</a>.</strong> All rights
    reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                <p>New phone +1(800)555-1234</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                <p>nora@example.com</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-file-code-o bg-green"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                <p>Execution time 5 seconds</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="label label-danger pull-right">70%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Update Resume
                <span class="label label-success pull-right">95%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Laravel Integration
                <span class="label label-warning pull-right">50%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Back End Framework
                <span class="label label-primary pull-right">68%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Allow mail redirect
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Other sets of options are available
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Expose author name in posts
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Allow the user to show his name in blog posts
            </p>
          </div>
          <!-- /.form-group -->

          <h3 class="control-sidebar-heading">Chat Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Show me as online
              <input type="checkbox" class="pull-right" checked>
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Turn off notifications
              <input type="checkbox" class="pull-right">
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Delete chat history
              <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
            </label>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>


        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'js/fastclick.js' %}"></script>
        <script src="{% static 'js/app.min.js' %}"></script>
        <script src="{% static 'js/demo.js' %}"></script>
        <script src="{% static 'js/jquery.dataTables.js' %}"></script>
        <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
        <script src="{% static 'js/select2.full.min.js' %}"></script>

        <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>





{#        <script src="{% static 'js/demo.js' %}"></script>#}

    <style>
    input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
    </style>

<script>
  $(function () {
    $("#example").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
     function formatNumber( nStr ) {
        nStr += '';
    x = nStr.split('.');
    x1 = x[0];
    x2 = x.length > 1 ? '.' + x[1] : '';
    var rgx = /(\d+)(\d{3})/;
    while (rgx.test(x1)) {
        x1 = x1.replace(rgx, '$1' + ',' + '$2');
    }
    return x1 + x2;
                }
</script>
</body>

</html>